html,
body {
    width: 100%;
    height: 100%;
}

body {
    padding: 2vh 2vw;
}

p {
    margin: 0;
    padding: 0;
}


/*左边导航*/

.nav_left {
    float: left;
    width: 12vw;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

.nav_left li a {
    display: block;
    margin: 0 0 -1px;
    padding: 12px 14px;
    border: 1px solid #e5e5e5;
    /*line-height: 30px;*/
}

.nav_left ul>li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.nav_left ul>li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.nav_left li a span {
    float: right;
    color: #000;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}

.nav_left .nav-list>.active>a,
.nav_left .nav-list>.active>a:hover,
.nav_left .nav-list>.active>a:focus {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #08c;
}

.nav_left .nav-list>.active>a span {
    color: #fff;
    opacity: 1;
}


/*main content*/

.main_content {
    float: left;
    width: 80vw;
    margin-left: 2vw;
}


/*新闻页*/

.table_container {
    border: 1px #ddd solid;
    padding: 20px 10px 0;
    border-radius: 4px;
    /*display: none;*/
    max-height: 93vh;
}


/*新闻搜索*/

.news_opa {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.news_opa .input-group {
    float: left;
    width: 20%;
    margin-right: 3%;
}

.news_opa .input-group:nth-child(3) {
    width: 40%;
}

.news_opa .search {
    width: 10%;
    float: right;
}


/*新闻列表*/

.table-responsive {
    border-radius: 4px;
    text-align: center;
    max-height: 75vh;
    overflow: auto;
}

.table th {
    text-align: center;
    background: #eee;
}

.table tr:nth-child(2n) {
    background: #eee;
}

.news_list .page_nav {
    overflow: hidden;
}

.newsid,
.videoid {
    cursor: pointer;
}

.news_list .page_nav .input-group {
    float: left;
    width: 20%;
    margin: 0 5vw 20px 0;
}

.news_list .page_nav ul.pagination {
    float: left;
    margin-top: 0;
}

.table .newstitle,
.table .videotitle {
    text-align: left;
}

.btn-success {
    width: 6vw;
    font-size: 16px;
    font-weight: 600;
}


/*立即推送确定框*/

.push_sure {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    background: rgba(0, 0, 0, 0.2);
    display: none;
}

.push_sur_container,
.success_push,
.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 210px;
    margin-top: -100px;
    margin-left: -200px;
    border: 1px solid #ddd;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    background: #eee;
    text-align: center;
    font-weight: 600;
}

.loading {
    left: 55%;
    top: 45%;
}

.push_sur_container {
    width: 50vw;
    height: 50vh;
    margin-top: -25vw;
    margin-left: -25vh;
    overflow: auto;
}

.push_sure p:first-child {
    height: 60px;
    line-height: 60px;
    font-size: 25px;
}

.push_sure p:nth-child(2) {
    height: 90px;
    line-height: 90px;
    font-size: 25px;
}

.push_sure p:nth-child(2) input {
    width: 15px;
    height: 15px;
    margin: 0 5px;
}

.push_sure p:nth-child(2) input:nth-child(2) {
    margin-left: 25px;
}

.push_sure p:last-child {
    font-size: 20px;
}

.push_sure p:last-child a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    background: #08c;
    color: #fff;
    padding: 0 20px;
    border-radius: 6px;
    text-decoration: none;
}

.push_sure p:last-child a:first-child {
    margin-right: 20px;
}

.success_push {
    height: 200px;
    line-height: 200px;
    font-size: 25px;
    display: none;
}


/*新闻内容*/

.news_content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 1600;
    background: #fff;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    display: none;
}

.news_content div {
    width: 70vw;
    margin: 5vh auto 0;
    height: 90vh;
    background: #fff;
    overflow: hidden;
    padding-bottom: 20px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.news_content div p {
    height: 5vh;
    position: relative;
}

.news_content div p span {
    position: absolute;
    right: 10px;
    height: 5vh;
    font-size: 40px;
    cursor: pointer;
}

.news_content div iframe {
    width: 100%;
    height: 85vh;
}

.news_content div iframe html {
    width: 100%;
}


/*评论页*/

.shade {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    display: none;
    z-index: 1000;
}

.all_comments {
    width: 90vw;
    margin: 15vh auto 0;
    height: 80vh;
    background: #fff;
    overflow: hidden;
    padding-bottom: 20px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.all_comments .tips {
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    opacity: 0.6;
    filter: alpha(opacity=0.6)
}

.all_comments .tips:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.all_comments .tips .close {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 30px;
    float: right;
    margin-right: 10px;
}

.haved_comments {
    float: left;
    position: relative;
    height: 70vh;
    width: 40vw;
    left: 20px;
    top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.comment_content {
    float: right;
    position: relative;
    height: 70vh;
    width: 40vw;
    top: 20px;
    right: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.all_comments .comment_list {
    overflow: auto;
    position: absolute;
    top: 50px;
    bottom: 20px;
    width: 96%;
    left: 2%;
}

.list_container_left,
list_container_right {
    margin-top: 10px;
}

.all_comments .comment_list .rows {
    line-height: 24px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}

.all_comments .comment_list .rows * {
    float: left;
    margin-right: 2%;
}

.all_comments .comment_list .rows .user_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.all_comments .comment_list .rows textarea {
    width: 50%;
}

.all_comments .comment_list .rows .commented {
    width: 50%;
    height: 74px;
    border: 1px #ddd solid;
    border-radius: 6px;
    padding: 5px;
    overflow-y: auto;
}

.all_comments .comment_list .rows .checkbox {
    width: 70px;
    margin-top: 0;
    color: #2aabd2;
}

.all_comments .comment_list .rows .checkbox span {
    float: right;
    margin-right: 0;
}

.all_comments .comment_list .rows .floor {
    width: 10%;
}

.all_comments .comment_list .rows .floor,
.all_comments .comment_list .rows div:last-child {
    float: right;
}

.all_comments .comment_list .rows .floor * {
    width: 100%;
}

.all_comments .comment_list .rows .floor .floor_comment {
    margin-bottom: 10px;
}

.all_comments .comment_list .rows .floor button {
    padding-left: 0;
    padding-right: 0;
    color: #2aabd2;
    border-color: #2aabd2;
}

.all_comments .comment_list .more_opa .add_more {
    color: #2aabd2;
    border-color: #2aabd2;
    margin-left: 30%;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
}

.all_comments .comment_list .more_opa .publish {
    float: right;
    margin-right: 2%;
    width: 10%;
}

.all_comments .floors {
    margin-bottom: 20px;
    overflow: hidden;
    display: none;
}

.all_comments .floors * {
    float: left;
    margin-right: 2%;
}

.all_comments .floors .floor_num {
    padding-left: 20px;
    margin-left: 2%;
}

.all_comments .floors .floor_num span {
    float: right;
    margin-right: 0;
}

.all_comments .floors .user_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.all_comments .floors .floor_select {
    width: 60px;
}

.all_comments .floors textarea {
    width: 50%;
}

.all_comments .floors button,
.all_comments .detail .ctr_del {
    width: 10%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
}

.all_comments .detail {
    padding: 5px;
}

.all_comments .detail.wild {
    background: #eee;
}

.share_success,
.reply_comment,
.reply_comment2,
.reply_comment3,
.reply_comment4,
.reply_comment5,
.reply_comment6,
.del_success,
.modify_success,
.tips_success {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    display: none;
    z-index: 2000;
}

.share_success div,
.del_success div,
.modify_success div,
.tips_success div {
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    text-align: center;
    padding: 30px;
    left: 45%;
    top: 45%;
}


/*活动评论*/

.reply_comment .reply_comment_container,
.reply_comment2 .reply_comment_container, 
.reply_comment3 .reply_comment_container,
.reply_comment4 .reply_comment_container,
.reply_comment5 .reply_comment_container,
.reply_comment6 .reply_comment_container {
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    text-align: center;
    padding: 30px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 10vh auto;
    width: 70vw;
    height: 50vh;
}

.reply_comment .reply_comment_container .input-group {
    width: 30%;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
}

.reply_comment:nth-child(n+2) .reply_comment_container .input-group,
.reply_comment2 .reply_comment_container .input-group,
.reply_comment3 .reply_comment_container .input-group,
.reply_comment4 .reply_comment_container .input-group,
.reply_comment5 .reply_comment_container .input-group,
.reply_comment6 .reply_comment_container .input-group {
    width: 45%;
    min-width : 400px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
}

.reply_comment:nth-child(n+2) .reply_comment_container .input-group input,
.reply_comment2 .reply_comment_container .input-group input,
.reply_comment3 .reply_comment_container .input-group input,
.reply_comment4 .reply_comment_container .input-group input,
.reply_comment5 .reply_comment_container .input-group input,
.reply_comment6 .reply_comment_container .input-group input {
    float: left;
}

.reply_comment .reply_comment_container .input-group input,
.reply_comment .reply_comment_container .input-group select,
.reply_comment2 .reply_comment_container .input-group input,
.reply_comment3 .reply_comment_container .input-group input,
.reply_comment4 .reply_comment_container .input-group input,
.reply_comment5 .reply_comment_container .input-group input,
.reply_comment6 .reply_comment_container .input-group input {
    height: 40px;
    line-height: 40px;
}

.reply_comment:first-child .reply_comment_container .input-group:nth-child(3) {
    width: 80%;
}

.reply_comment .reply_comment_container button,
.reply_comment2 .reply_comment_container button,
.reply_comment3 .reply_comment_container button,
.reply_comment4 .reply_comment_container button,
.reply_comment5 .reply_comment_container button,
.reply_comment6 .reply_comment_container button {
    width: 10vw;
    height: 5vh;
    margin-right: 30px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
}

.input-group-addon {
    padding: 0 12px;
}

.input-group-addon  input {
    height: 38px !important;
    line-height: 38px !important;
}

.add_option {
    padding-bottom: 20px;
    overflow: hidden;
}

.add_option button {
    float: right;
    width: auto;
    padding: 8px;
}

.switch_activity_splash .reply_comment_container {
    height: 80vh;
}

.switch_activity_splash .reply_comment_container label {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}

.q_content {
    border-bottom: 1px solid #ddd;
    padding-top: 12px;
}

.q_content .input-group:nth-child(n+2) {
    padding-left: 3vw;
}


/*loading效果图*/

.sk-fading-circle {
    margin: 40px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

@keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}


/*新闻上传*/
.news_upload .reply_comment .reply_comment_container {
    margin: 5vh auto;
    height: 90vh;
    overflow: auto;

}

.news_upload .reply_comment .reply_comment_container .input-group {
    width: 70%;
}

.news_upload .reply_comment .reply_comment_container i {
    color: #f00;
    margin-right: 5px;
    line-height: 26px;
    display: inline-block;
}

.news_upload .reply_comment .reply_comment_container .news_content_upload {
    text-align: left;
    position: relative;
}

.news_upload .reply_comment .reply_comment_container .news_content_upload button,
.news_upload .reply_comment .reply_comment_container .news_content_upload input[type=file] {
    height:3vh;
    line-height: 3vh;
    width: 7vw;
    text-align: center;
    padding: 0;
    float: right;
    margin: 0; 
}

.news_upload .reply_comment .reply_comment_container .news_content_upload input[type=file] {
    position: absolute;
    opacity: 0;
    alpha: filter(opacity=0);
    right: 0;
    top: 0;
}

.news_upload .reply_comment .reply_comment_container .news_content_upload .content_upload {
    border: #ddd 1px solid;
    border-radius: 4px;
    height: 400px;
    overflow: auto;
    margin-bottom: 20px;
    width: 100%;
}

.news_upload .reply_comment .reply_comment_container .upload_images {
    overflow: hidden;
    /*display:flex;justify-content:center;*/
}

.news_upload .reply_comment .reply_comment_container .upload_images .img_pre {
    /*flex:1;*/
    float: left;
    width: 33%;
    text-align: left;
    position: relative;
}

.news_upload .reply_comment .reply_comment_container .upload_images .img_pre button,.news_upload .reply_comment .reply_comment_container .upload_images .img_pre input[type=file] {
    height:25px;
    line-height: 25px;
    width: 80px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 0;
    margin: 0;  
}

.news_upload .reply_comment .reply_comment_container .upload_images .img_pre input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    alpha: filter(opacity=0);
}

.news_upload .reply_comment .reply_comment_container .upload_images .previewdiv {
    width: 95%;
    border: 1px #ddd solid;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 200px;
    overflow: auto;
    text-align: center;
}

.news_upload .reply_comment .reply_comment_container .upload_images .previewdiv img {
    max-width: 100%;
}

.related_news {
    margin: 10vh 10vw;
    padding: 3vh 3vw;
    background: #fff;
}

.reply_comment_container {
    overflow: auto;
}

.reply_comment_container i {
    color: #f00;
    font-size: 20px;
    font-weight: 600;
}


td span {
    font-weight: 600;
    color: #f00;
    font-size: 16px;
}

.material_gif p {
    float: left;
    width: 310px;
    padding: 4px;
}

.material_gif p img{
    width: 300px;
    height: 300px;
    display: block;
}

.material_gif p img span {
    display: block;
}

.love {
    display: block;
    width: 100px; height: 100px;
    background: url(web_heart_animation.png) 0 0 no-repeat;
    background-size: 2900%;
    animation: heart-burst steps(28) 0.8s infinite both;
}
.stop {
    animation-play-state: paused;
}
@keyframes heart-burst {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
