html,
body {
    width: 100%;
    height: 100%;

}
html,body,a,ul,li,input,img,p,span,section,header,footer{
     margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

body {
    background: url(../img/bg.jpg) no-repeat;
    background-size: 100% 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
}


/*头部*/

.header {
    border-bottom: 1px rgba(255, 255, 255, 0.15) solid;
    background: rgba(37, 37, 37, 0.7);
    height: 50px;
    line-height: 50px;
    padding: 0 16vw;
}

.header img {
    width: 100px;
    margin-top: 12px;
}

.header .language {
    float: right;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    filter: alpha(opacity=80);
}


/*表单*/

.content {
    float: right;
    padding-right: 16vw;
    padding-top: 7vh;
}

.content .logo {
    margin: 0 auto;
    display: block;
}

.content .form {
     position: relative;
}

.content .box {
    width: 286px;
    border-bottom: solid 1px #fff;
    padding-bottom: 5px;
    margin-top: 20px;

    overflow: hidden;
}

.content .form .tips {
    position: absolute;
    color: #c71717;
    font-size: 12px;
    padding-top: 2px;
    padding-left: 30px;
    display: none;
}

.content .box label {
    float: left;
}

.content .box input.text{
    border: none;
    background: transparent;
    font-size: 16px;
    color: #fff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border linear .2s, box-shadow linear .2s;
    height: 22px;
    line-height: 22px;
    padding-left: 5px;
    float: left;
    margin: 0 10px;
}

.content .box input.code {
    width: 70px;
}

.content .box img {
    width: 61px;
}

.content .save {
    position: relative;
    border: none;
}

.content .save input {
    opacity: 0;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 3px;
    z-index: 100;
}

.content .save .save_img {
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../img/remember-me-click.png) no-repeat;
    left: 0;
    top: 3px;
}

.content .save .save_img.nochecked {
    background: url(../img/remember-me.png) no-repeat;
}

.content .save .remember_label {
    margin-left: 20px;
}

.content .username {
    margin-top: 5vh;
}

.content .username label {
    background: url(../img/email.png);
    width: 20px;
    height: 14px;
    display: inline-block;
}

.content .password label {
    background: url(../img/password.png);
    width: 20px;
    height: 22px;
    display: inline-block;
}

.content .login {
	display: block;
	height: 30px;
	line-height: 30px;
	border: 1px solid #fff;
	border-radius: 8px;
	padding: 0;
	margin-top: 15px;
	text-align: center;
	width: 280px;
	margin-left: 3px;
}

.content .login a {
	color: #fff;
    display: block;
    width: 100%;
}


/*下载提示*/

.download {
    position: fixed;
    bottom: 61px;
    left: 0;
    width: 100%;
    background: rgba(37, 37, 37, 0.7);
    padding: 15px 16vw;
    border-top: solid 2px #f60;
    color: #ccc;
}

.download a {
    text-decoration: none;
    color: #ccc;
}

.download a:hover {
    color: #f60;
}

.download ul {
    float: left;
    margin-right: 5vw;
}

.download ul li:first-child {
    margin-bottom: 20px;
}

.download ul li img {
    width: 122px;
    padding: 5px 0;
}

.min ul {
    clear: both;
}

.min ul li {
    float: left;
    margin-right: 5vw;
}

.min ul li:first-child {
    width: 70px;
}


/*尾部*/

.footer {
    width: 100%;
    position: fixed;
    height: 60px;
    bottom: 0;
    left: 0;
    line-height: 60px;
    background: rgba(37, 37, 37, 0.7);
    border-top: 1px rgba(255, 255, 255, 0.15) solid;
    padding: 0 16vw;
    font-size: 14px;
    color: #ccc;
}
