@charset "UTF-8";

a img,button {
	border: none
}

.header__link,a,body {
	color: #222324
}

@font-face {
	font-family:Roboto;font-style:normal;font-weight:100;src:local('Roboto Thin'),local('Roboto-Thin'),url(https://fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype')
}

@font-face {
	font-family:Roboto;font-style:normal;font-weight:300;src:local('Roboto Light'),local('Roboto-Light'),url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}

@font-face {
	font-family:Roboto;font-style:normal;font-weight:400;src:local('Roboto'),local('Roboto-Regular'),url(https://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf) format('truetype')
}

@font-face {
	font-family:Roboto;font-style:normal;font-weight:700;src:local('Roboto Bold'),local('Roboto-Bold'),url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}

@font-face {
	font-family:Roboto;font-style:italic;font-weight:100;src:local('Roboto Thin Italic'),local('Roboto-ThinItalic'),url(https://fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-YS3USBnSvpkopQaUR-2r7iU.ttf) format('truetype')
}

@font-face {
	font-family:Roboto;font-style:italic;font-weight:300;src:local('Roboto Light Italic'),local('Roboto-LightItalic'),url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at50EAVxt0G0biEntp43Qt6E.ttf) format('truetype')
}

@font-face {
	font-family:Roboto;font-style:italic;font-weight:400;src:local('Roboto Italic'),local('Roboto-Italic'),url(https://fonts.gstatic.com/s/roboto/v15/W4wDsBUluyw0tK3tykhXEfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype')
}

@font-face {
	font-family:Roboto;font-style:italic;font-weight:700;src:local('Roboto Bold Italic'),local('Roboto-BoldItalic'),url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC50EAVxt0G0biEntp43Qt6E.ttf) format('truetype')
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
}

button,html {
	line-height: 1
}

ol,ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,td,th {
	text-align: left;
	font-weight: 400;
	vertical-align: middle
}

.maBlockquote__p,.ma__p {
	text-align: justify
}

blockquote,q {
	quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
	content: "";
	content: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display: block
}

.header,.page__error {
	display: -webkit-flex
}

* {
	box-sizing: border-box
}

body {
	word-wrap: break-word;
	font-family: Roboto,"Hiragino Kaku Gothic ProN";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300
}

a {
	text-decoration: none;
	font-weight: 600
}

.header__link,strong {
	font-weight: 700
}

img {
	vertical-align: text-bottom
}

button {
	background: 0 0;
	padding: 0;
	outline: 0
}

.loader {
	position: relative;
	width: 28px;
	height: 28px;
	box-shadow: inset 0 0 0 3px #ebedef;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	border-radius: 50%
}

.loader::after,.loader::before {
	position: absolute;
	content: "";
	background: #fff;
	width: 15px;
	height: 30px
}

.loader::before {
	border-radius: 30px 0 0 30px;
	top: -1px;
	left: -1px;
	-webkit-transform-origin: 15px 15px;
	-ms-transform-origin: 15px 15px;
	transform-origin: 15px 15px;
	-webkit-animation: load 1.5s infinite ease 1.2s;
	-ms-animation: load 1.5s infinite ease 1.2s;
	animation: load 1.5s infinite ease 1.2s
}

.loader::after {
	border-radius: 0 30px 30px 0;
	top: -1px;
	left: 15px;
	-webkit-transform-origin: 0 15px;
	-ms-transform-origin: 0 15px;
	transform-origin: 0 15px;
	-webkit-animation: load 1.5s infinite ease;
	-ms-animation: load 1.5s infinite ease;
	animation: load 1.5s infinite ease
}

@-webkit-keyframes load {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@-ms-keyframes load {
	0% {
		-ms-transform: rotate(0);
		transform: rotate(0)
	}

	100% {
		-ms-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes load {
	0% {
		transform: rotate(0)
	}

	100% {
		transform: rotate(360deg)
	}
}

.header {
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	height: 52px;
	padding: 0 12px;
	border-bottom: 3px solid #d5d8db;
	background-color: #fff
}

.header--kijiTop::after,.header__button::before {
	display: block;
	content: ""
}

.header--fillBg {
	background-color: #d5d8db;
	border-bottom: none
}

.header--centerLogo {
	-webkit-justify-content: center;
	justify-content: center
}

.header--kijiTop {
	width: 100vw;
	height: 100vh;
	border-bottom: none;
	-webkit-justify-content: center;
	justify-content: center;
	position: relative;
	background-color: transparent;
	padding: 0
}

.header--kijiTop::after {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	-webkit-filter: blur(4px) brightness(70%);
	filter: blur(4px) brightness(70%);
	background-image: url(https://s.yimg.jp/images/newsnor/kiji/img/common/kijiTopBg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center
}

.header__link {
	font-size: 1.4rem
}

.header__link--fillBg {
	color: #fff
}

.header__link--isBrightBg {
	color: #222324
}

.header__textWrapper {
	margin-top: -80px
}

.header__button {
	width: 100%;
	height: 120px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-indent: -9999px;
	outline: 0;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent
}

.header__button::before {
	position: absolute;
	bottom: 80px;
	left: 50%;
	margin-left: -15px;
	width: 20px;
	height: 20px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	transform: rotate(-135deg)
}

.page__main--list,.page__sub {
	border-top: 1px solid #d5d8db
}

.page {
	background-color: #ebedef
}

.page__header {
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index: 1
}

.page__header--kijiTop {
	position: static;
	width: auto;
	background-color: transparent;
	z-index: 0
}

.page__error,.page__main,.page__propertyHeader,.page__sub {
	background-color: #fff
}

.page__contentsWrapper {
	padding-top: 52px
}

.page__propertyHeader {
	padding: 24px 12px 0
}

.page__listPageHeader,.page__seriesHeader {
	margin-bottom: 16px;
	background-color: #fff;
	border-bottom: 1px solid #d5d8db
}

.page__seriesHeader {
	padding: 8px 12px 24px
}

.page__listPageHeader,.page__main {
	padding: 24px 12px
}

.page__main {
	border-bottom: 1px solid #d5d8db
}

.page__main--list {
	padding: 0
}

.page__main--kijiTop {
	border-bottom: none
}

.page__sub {
	margin-top: 16px;
	border-bottom: 1px solid #d5d8db
}

.page__error {
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 200px
}

.page__ad {
	margin-top: 16px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center
}

.page__footer--mol {
	margin-bottom: 100px
}

.propertyHeaderList__item {
	margin-bottom: 16px
}

.propertyHeaderList__item:last-child {
	margin-bottom: 0
}

.main__date,.main__titleWrapper {
	margin-bottom: 12px
}

.propertyHeaderList__title {
	font-size: 1.2rem;
	font-weight: 600
}

.propertyHeaderList__label {
	margin-right: 8px;
	padding-right: 8px;
	border-right: 1px solid #ebedef;
	color: #8f9499;
	font-weight: 300
}

.main__subTitle,.main__title {
	font-family: "Hiragino Sans";
	line-height: 1.2
}

.main__title {
	font-size: 2.4rem;
	font-weight: 700
}

.main__subTitle {
	margin-top: 8px;
	font-size: 1.8rem
}

.main__date {
	display: block;
	font-size: 1.4rem;
	color: #8f9499
}

.main__updatedDate {
	margin-left: 8px;
	padding-left: 8px;
	border-left: 1px solid #ebedef
}

.main__updatedLabel {
	margin-left: 4px;
	color: #ff5151
}

.main__share--upper {
	margin-bottom: 24px
}

.main__share--lower {
	margin-top: 24px
}

.shareButtonList {
	border: 1px solid #ebedef;
	border-radius: 2px;
	display: -webkit-flex;
	display: flex
}

.shareButtonList--lower {
	border: none;
	border-radius: 0
}

.shareButtonList__item {
	-webkit-flex-grow: 1;
	flex-grow: 1;
	border-right: 1px solid #ebedef
}

.shareButtonList__item:last-child {
	border-right: none
}

.shareButtonList__item--lower {
	border: none;
	margin-right: 8px;
	height: 61px;
	-webkit-flex-grow: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 1;
	flex-shrink: 1;
	background: url(https://s.yimg.jp/images/newsnor/kiji/img/common/kiji_sprite-1.0.0.png) no-repeat
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
	.shareButtonList__item--lower {
		background: url(https://s.yimg.jp/images/newsnor/kiji/img/common/kiji_sprite@2x-1.0.0.png) no-repeat;
		background-size: 311px 304px
	}
}

.shareButtonList__item--lower:last-child {
	margin-right: 0
}

.shareButtonList__item--bgFb {
	width: 61px;
	background: 0 0
}

.shareButtonList__item--bgTw {
	width: 75px;
	background-position: -80px -81px
}

.shareButtonList__item--bgTw iframe {
	background-color: #fff;
	min-width: 75px
}

.shareButtonList__item--bgHatebu {
	width: 80px;
	background-position: -175px -162px
}

.shareButtonList__item--bgLine {
	width: 36px;
	background-position: -275px -243px
}

.shareButtonList__link {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 38px
}

.shareButtonList__icon {
	width: 20px;
	height: 20px
}

.shareButtonList__balloonWrapper {
	margin-bottom: 7px
}

.ma__blockquote,.ma__list,.ma__p,.ma__pre {
	margin-bottom: 16px
}

.shareButtonList__tweetButtonBalloon {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 34px;
	position: relative;
	background: #fff;
	border: 1px solid #8f9499;
	border-radius: 2px;
	font-size: 1.2rem;
	font-weight: 300
}

.ma__h1,.ma__h2 {
	font-size: 1.8rem
}

.ma__h1,.ma__h2,.ma__h3,.ma__h4,.ma__h5,.ma__h6,.ma__strong {
	font-weight: 700
}

.shareButtonList__tweetButtonBalloon::after {
	display: block;
	content: "";
	position: absolute;
	bottom: -4px;
	left: 7px;
	background: #fff;
	width: 5px;
	height: 5px;
	border-top: 1px solid #8f9499;
	border-right: 1px solid #8f9499;
	transform: rotate(135deg)
}

.ma__h1,.ma__h2,.ma__h3,.ma__h4,.ma__h5,.ma__h6 {
	margin-bottom: 16px;
	line-height: 1.3;
	text-align: justify
}

.maBlockquote__p,.maList__item,.ma__p,.ma__pre {
	line-height: 1.6
}

.ma__h1 {
	color: #222324
}

.ma__h2 {
	color: #545658
}

.ma__h3 {
	font-size: 1.7rem;
	color: #222324
}

.ma__h4,.ma__h5,.ma__h6,.ma__p {
	font-size: 1.6rem
}

.ma__h4 {
	color: #545658
}

.ma__h5 {
	color: #222324
}

.ma__h6 {
	color: #545658
}

.ma__del {
	text-decoration: line-through
}

.ma__em {
	font-style: italic
}

.ma__a {
	color: #4a90e2;
	text-decoration: none;
	font-weight: 300
}

.ma__pre {
	font-size: 1.4rem;
	padding: 20px;
	border: 1px solid #d5d8db;
	border-radius: 3px;
	white-space: pre-wrap
}

.ma__hr {
	margin: 0 0 16px;
	border: 1px solid #d5d8db
}

.ma__figure {
	margin-bottom: 16px;
	display: block
}

.ma__iframe {
	margin: 0 auto 16px;
	display: block;
	width: 296px;
	height: 222px
}

.ma__iframe--embedded {
	width: 100%;
	height: 110px
}

.ma__iframe--boxed {
	width: 254px;
	height: 190px
}

.ma__boxed {
	margin-bottom: 28px;
	padding: 20px;
	border: 1px solid #8f9499;
	border-radius: 3px
}

.maList--sub,.ma__boxed>:last-child {
	margin-bottom: 0
}

.maList {
	padding-left: 40px;
	list-style: disc
}

.maList--sub {
	list-style: circle
}

.maList__item {
	font-size: 1.6rem
}

.maBlockquote {
	position: relative;
	padding: 32px 20px 20px 16px;
	border-left: 4px solid #ebedef;
	border-radius: 0 3px 3px 0;
	background: #f9fafa
}

.maBlockquote:before {
	font-size: 6rem;
	content: '“';
	font-family: serif;
	position: absolute;
	top: 4px;
	left: 4px;
	color: #8f9499
}

.maBlockquote__p {
	margin-bottom: 12px;
	font-size: 1.4rem
}

.maBlockquote__p:last-of-type {
	margin-bottom: 0
}

.maBlockquote__p--footer {
	margin-top: 20px;
	font-size: 1.2rem;
	color: #8f9499;
	text-align: right
}

.maBlockquote__a {
	color: #4a90e2;
	font-weight: 300
}

.maFigure {
	display: block
}

.maFigure__imgWrapper {
	display: block;
	width: 100%
}

.maFigure__img {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid #f4f5f6;
	user-select: none;
	-webkit-user-select: none;
	pointer-events: none
}

.maFigure__img:last-of-type {
	margin-bottom: 0
}

.maFigure__figcaption {
	font-size: 1.1rem;
	display: block;
	padding-top: 5px;
	color: #8f9499;
	line-height: 1.6
}

.sub__title {
	padding: 16px 12px;
	font-size: 1.4rem;
	font-weight: 600;
	border-bottom: 1px solid #ebedef
}

.sub__property {
	margin-right: 8px;
	padding-right: 8px;
	border-right: 1px solid #ebedef;
	color: #8f9499;
	font-weight: 300
}

.sub__more {
	padding: 8px 12px
}

.sub__more--series {
	padding-top: 0
}

.sub__moreLink {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 40px;
	border: 1px solid #d5d8db;
	border-radius: 3px;
	font-size: 1.4rem;
	font-weight: 300
}

.sub__moreLink--loading {
	border: none
}

.sub__chBannerLink {
	display: block
}

.sub__chBannerImg {
	width: 100%
}

.sub__topicList {
	padding: 4px
}

.sub__subscription {
	padding: 8px
}

.articleList--series {
	-webkit-display: flex;
	display: flex
}

.articleList__item {
	border-bottom: 1px solid #ebedef
}

.articleList__item--series {
	width: 50%;
	border-bottom: none
}

.articleList__item--series:first-child .articleList__link--series {
	padding: 8px 6px 8px 12px
}

.articleList__item--series:last-child .articleList__link--series {
	padding: 8px 12px 8px 6px
}

.articleList__link {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	padding: 8px 12px
}

.articleList__link--series {
	display: block
}

.articleList__subTitle,.articleList__title,.articleList__title--noSub,.chPromotion__title {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	line-height: 1.4
}

.articleList__link--chPromotion {
	background-color: #f9fafa
}

.articleList__imgWrapper {
	width: 80px;
	height: 80px;
	border: 1px solid #f9fafa;
	border-radius: 3px;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	margin-right: 12px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center
}

.articleList__imgWrapper--series {
	width: auto;
	height: auto;
	margin: 0 0 8px;
	padding-top: 61.8%
}

.articleList__seriesIndicator {
	margin-bottom: 8px;
	color: #8f9499;
	font-size: 1.2rem;
	font-weight: 300
}

.articleList__title {
	-webkit-line-clamp: 1;
	font-size: 1.4rem
}

.articleList__title--noSub {
	-webkit-line-clamp: 2;
	margin-bottom: 8px
}

.articleList__subTitle {
	-webkit-line-clamp: 1;
	margin-bottom: 8px;
	font-size: 1.2rem;
	font-weight: 300
}

.articleList__flashLabel {
	margin-right: 4px;
	background-color: #ff5151;
	padding: 0 4px;
	border-radius: 2px;
	font-size: 1.4rem;
	color: #fff
}

.articleList__chName,.chPromotion__chName {
	margin-right: 4px;
	padding-right: 4px;
	border-right: 1px solid #ebedef
}

.articleList__chName,.articleList__date {
	color: #8f9499;
	font-size: 1.2rem;
	font-weight: 300
}

.chPromotion {
	-webkit-flex-grow: 1;
	flex-grow: 1
}

.chPromotion__imgWrapper {
	margin-bottom: 8px
}

.chPromotion__img {
	width: 100%
}

.chPromotion__title {
	-webkit-line-clamp: 2;
	margin-bottom: 8px;
	font-size: 1.4rem
}

.chPromotion__info {
	margin-bottom: 4px
}

.chPromotion__chName,.chPromotion__date {
	font-size: 1.2rem;
	color: #8f9499;
	font-weight: 300
}

.chPromotion__label {
	font-size: 1.2rem;
	color: #8f9499;
	font-weight: 300;
	text-align: right
}

.footer {
	padding: 40px 20px
}

.footer__publisher {
	margin-bottom: 12px;
	font-size: 1.2rem;
	color: #545658
}

.footerLinkList__link,.footer__text {
	font-size: 1.2rem;
	color: #8f9499;
	font-weight: 300
}

.footer__info {
	display: -webkit-flex;
	display: flex;
	justify-content: -webkit-space-between;
	justify-content: space-between
}

.footer__poweredBy {
	display: -webkit-flex;
	display: flex
}

.footer__text {
	margin-right: 8px
}

.footer__logo {
	display: block;
	width: 40px;
	height: 12px;
	-webkit-flex-shrink: 1;
	flex-shrink: 1
}

.footerLinkList {
	display: -webkit-flex;
	display: flex
}

.footerLinkList__item {
	border-right: 1px solid #d5d8db
}

.footerLinkList__item:first-child .footerLinkList__link {
	padding-left: 0
}

.footerLinkList__item:last-child {
	border-right: 0
}

.footerLinkList__item:last-child .footerLinkList__link {
	padding-right: 0
}

.footerLinkList__link {
	padding: 0 12px
}

.svg-nordotLogo .st0 {
	fill: #8f9499
}

.svg-fbIcon .st0 {
	fill: #4460a0
}

.svg-twIcon .st0 {
	fill: #00aaec
}

.svg-hatebuIcon .st0 {
	fill: #00a4de
}

.svg-lineIcon .st0 {
	fill: #00c300
}
