body,
.page {
    background-color: #fff;
}

body {
    overflow: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: iscroll;
    line-height: 1.5;
}


/*头部*/

header {
    border-color: #999999;
    max-width: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    z-index: 1;
}

header a.back {
    display: block;
    position: absolute;
    left: 12px;
    top: 16px;
    width: 20px;
}

header a.font {
    display: block;
    position: absolute;
    right: 12px;
    top: 16px;
    width: 20px;
}

header a img {
    width: 100%;
}


/*页面主体*/

.container {
    position: fixed;
    left: 0;
    top: 52px;
    padding-bottom: 52px;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}


/*新闻主体内容*/

main img {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

main {
    padding: 20px 12px 13px;
}

article * {
    max-width: 100%;
}

.main__title,.main__subTitle {
    text-align: center !important;
}


/*分享*/

.share_content,
.special,
.related_news,
.comment {
    text-align: center;
}

.share_content h3,
.special h3,
.related_news h3,
.comment h3 {
    color: #666;
    font-size: 18px;
    font-weight: 600;
}

.share_content > img,
.special > img,
.related_news > img,
.comment > img {
    width: 29%;
    margin-bottom: 12px;
}

.share_content .share_platform a {
    display: inline-block;
    width: 72px;
    margin-right: 34px;
    color: #888;
    font-weight: normal;
}

.share_content .share_platform a:last-child {
    margin: 0;
}

.share_content .share_platform img {
    width: 32px;
    margin-bottom: 8px;
}

.share_content,
.big_ad,
.special,
.related_news,
.comment {
    margin-bottom: 25px;
}


/*广告*/

section.ad {
    margin: 0 12px 12px !important;
    border: 2px solid #EBEBEB !important;
    border-radius: 4px !important;
    /*padding-bottom: 10px !important;*/
}

section.ad a {
    overflow: hidden !important;
}

section.ad div {
    border: none !important;
    padding: 0 !important;
}

section.ad .advsc-item-image {
    width: 100% !important;
    border-radius: 4px 4px 0 0 !important;
    margin-bottom: 12px !important;
    padding: 0 !important;
    margin: 0 !important;
    max-height: 135px !important;
    height: 135px !important;
    overflow: hidden;
}

section.ad .advsc-item-image img {
    width: 100% !important;
    display: block !important;
    border-radius: 4px !important;
}

section.ad .advsc-txt-box {
    line-height: 20px !important;
    font-size: 16px !important;
    padding: 0 12px !important;
    margin-bottom: 5px !important;
    font-weight: 500 !important;
    padding-top: 5px !important;
}

section.ad .advsc-item-descr {
    font-size: 14px !important;
    line-height: 20px !important;
}

section.ad .ad_source {
    padding: 0 12px;
    color: #999;
    font-size: 14px;
}

section.ad .ad_source img {
    width: 33px;
    margin-right: 5px;
}


/*相关新闻*/

.relation_news {
    background: #F9F9F9;
    border: 1px solid #EBEBEB;
    border-left: 3px #f3b714 solid;
    font-weight: 600;
    padding: 10px 10px 0;
    color: #333;
    overflow: hidden;
    margin: 0 12px;
    font-size: 14px;
    margin-bottom: 12px;
}

.relation_news div:first-child {
    font-size: 16px;
}

.relation_news div:nth-child(n+2) {
    overflow: hidden;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    max-height: 70px;
    height: 70px;
}

.relation_news div:nth-child(n+2) a {
	display: block;
	width: 100%;
    padding: 0 !important;
    overflow: hidden;
}

.relation_news div:nth-child(n+2) a div {
    float: left !important;
    margin: 0 !important;

}

.relation_news div:nth-child(n+2) a div:first-child {
    float: right !important;
    width: 23% !important;
    height: 80px !important;
}

.relation_news div:nth-child(n+2) a>div:last-child {
    width: 76% !important;
}

.relation_news div:nth-child(n+2) a>div:last-child p.articleList__description {
    display: none !important;
}

.relation_news div:nth-child(n+2) a>div:last-child div:last-child {
    height: 20px !important;
}

.relation_news div:last-child {
    border: none !important;
}

.relation_news div:nth-child(n+2) img.n_banner {
    width: 23%;
    max-height: 60px;
    height: 60px;
    float: right;
    border-radius: 2px;
}

.rel_news {
    width: 100% !important;
}

.relation_news div:nth-child(n+2) p {
    width: 76%;
	padding-right: 1%;
    float: left;
    line-height: 18px;
    padding-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.relation_news .rel_ad {
    max-height: 90px !important;
    height: 90px !important;
    width: 100% !important;
}

.relation_news .rel_ad li {
    border: none !important;
}

.relation_news .rel_ad span {
    display: block;
}

.relation_news .rel_ad span:last-child {
    color: #999;
    font-size: 12px;
}

.relation_news .rel_ad span img {
    width: 21px;
    margin-right: 5px;
    max-height: 80px;
    height: 80px;
}

.relation_news .rel_ad span:last-child em {
    float: right;
    border: 1px solid #4681C6;
    border-radius: 2px;
    font-size: 10px;
    -webkit-text-size-adjust: none;
    -webkit-transform: scale(0.625);
            transform: scale(0.625);
    padding: 5px;
}

.default-hidden {
    display: none;
}

.rel_ad>div {
    width: 100% !important;
    border: none !important;
    max-height: 80px !important;
    height: 80px !important;
    background: #F9F9F9 !important;
}

.rel_ad>div a {
    display: block;
    width: 100% !important;
    overflow: hidden;
}

.rel_ad .advsc-item-image {
    float: right !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 23% !important;
    height: 80px !important;
}

.rel_ad .advsc-item-image img {
    width: 100% !important;
    height: 80px !important;
    border-radius: 2px !important;
}

.rel_ad .advsc-txt-box {
    width: 76% !important;
    padding: 0 !important;
	padding-right: 1% !important;
}

.rel_ad .advsc-txt-box div {
    margin: 0 !important;
}

.rel_ad .advsc-txt-box div p {
    width: 100% !important;
    font-size: 14px !important;
}


.news_list .news_summary {
    padding: 8px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.news_list .news_summary a,
.news_list .video_summary a {
    display: block;
}

.news_list .news_summary a p {
    overflow: hidden;
}

.news_list .news_summary a p:first-child {
    line-height: 19px;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-bottom: 7px;
    text-align: left;
}

.news_list .news_summary a p.news_imgs {
    overflow: hidden;
    margin-bottom: 7px;
    height: 82px;
}

.news_list .news_summary a p.news_imgs img {
    display: block;
    float: left;
    width: 32%;
    min-height: 82px;
    border-radius: 2px;
}

.news_list .news_summary a p.news_imgs img:nth-child(2) {
    margin: 0 2%;
}

.news_list .news_summary a p:last-child {
    color: #999;
    font-weight: 500;
}

.news_list .news_summary a p:last-child span:first-child {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.news_list .news_summary a p:last-child span:first-child img {
    margin-right: 4px;
    width: 22.5px;
}

.news_list .news_summary a p:last-child span:last-child {
    float: right;
}

.news_list .news_summary a p:last-child span:last-child img {
    margin-left: 4px;
    width: 10px;
}

.news_summary:hover {
    background: #f9f9f9;

}

.news_list .news_summary:hover a p:first-child {
    color: #999;
}


/*新闻单图样式*/

.news_list .one_img a {
    overflow: hidden;
}

.news_list .one_img p:first-child {
    float: left;
    width: 64%;
    margin-right: 2%;
    min-height: 62px;
}

.news_list .one_img a p.news_imgs {
    width: 34%;
    float: right;
    position: relative;
}

.news_list .one_img a p.news_imgs img {
    width: 100%;
}

.news_list .one_img a p:last-child {
    width: 64%;
    float: left;
    font-weight: 500;
}

.news_list .one_img a p.news_imgs .play {
    width: 28px;
    height: 28px;
    min-height: 28px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -14px;
    margin-left: -14px;
}

.news_list .one_img a p.news_imgs .play_time {
    position: absolute;
    bottom: 4px;
    right: 4px;
    display: inline-block;
    padding: 0 1.5px;
    font-size: 11px;
    color: #FFFFFF;
    -webkit-transform: scale(0.9);
    -o-transform: scale(1);
    background: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
}

.news_more {
    width: 43.2%;
    border: #666 solid 1px;
    border-radius: 3px;
    margin: 12px auto 0;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}


/*相关新闻*/

.related_news >img {
    width: 145px;
    margin: 0;
}

.news_ad p:last-child span img {
    width: 18px !important;
}

.news_summary p:last-child span {
    font-size: 11px;
    -webkit-transform: scale(0.9);
    -o-transform: scale(1);
}

.news_ad p:last-child i {
    color: #4681C6;
    font-size: 11px;
    -webkit-transform: scale(0.9);
    -o-transform: scale(1);
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #4681C6;
    border-radius: 2px;
    float: right;
}


